
/* content of every food category: e.g. 'In girum imus nocte [...]'; */
p.content{
  background-color:  #bab4b6;
  font-size: 100%;
  color: black;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

/* the heading of the page: e.g. 'Our Menu';*/
h1 {
  text-align: center;
  font-size: 200%;
  font-family:  cursive, Helvetica, sans-serif;
}

/* food category: e.g. 'Chicken'; */
h2{
  padding: 2.5px;
  width: 100%;
  height: 25px;
  font-size: 130%;
  font-weight: bold;
  color: black;
}


/*Set an anchor at the div containers of p elements*/
div.group{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  background-color:  #bab4b6;
  margin: 15px;
  overflow: hidden; /*to conceal text when smaller than its container*/
}

/*To guarantee the h1 title is visible also with a nav bar of class navbar-fixed-top*/
body{
  padding-top: 70px; 
}


.navbar-default{
    /* background-color:   white;*/
     border-color: black;
}
